
.back {
    text-align: center;
    margin-top: 50px;
}

.back img {
    padding-left: 20px;
    height: 30px;
    cursor: pointer;
    border: 0px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    margin: auto;
    gap: 35px;
}

.center img {
    width: 350px;
    height: auto;
}

.center h1 {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search {
    display: flex;
    width: 700px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1F3540;
}

.search-input {
    width: 400px;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder {
    color: #999;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    font-size: 17px;
    border-radius: 50px;
    background: rgb(231, 13, 13);
    cursor: pointer;
}

.btn:hover {
    background: rgba(231, 13, 13, 0.801);
}
.download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.download-button:hover {
    background-color: #0056b3;
}
.logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    margin-right: 8px;
    background-color: rgb(231, 13, 13);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: rgba(231, 13, 13, 0.801);
}

@media (max-width: 600px) {
    .back {
        margin-top: 20px;
        width: 7px;
    }

    .center img {
        width: 100%;
        max-width: 250px;
    }

    .search {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 10px;
        background: none;
    }

    .search-input {
        width: 125%;
        height: 40px;
        margin: 10px 0;
        padding-left: 15px;
        background: #1F3540;
        border-radius: 50px;
    }

    .btn {
        width: 60%;
        margin-top: 10px;
    }
}
